body {
	background: #222 url('../assets/dark-triangles.png') repeat; /* binding-dark.png courtesy of Tia Newbury. Found @ http://subtlepatterns.com/ */
    font-family: 'Poly', sans-serif;
    color: #eee;
}

h1, h2, h3, h6 {
    text-align: center;
    font-weight: 200;
    font-family: 'Poly', sans-serif;
    color: #eee;
}

a {
    color: #f03c69;
}

a:hover {
    color: #eee;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.hidden {
	display: none;
}

.project-title {
    margin: 30px 0 10px 0;
}

.project-info {
    margin-top: 10px;
}


#container {
    position: relative;
    text-align: center;
    height: 600px;
}

#canvas {
    width: 800px;
    height: 600px;
    background-color: #ddd;
}

#info {
    background-color: rgba(0, 0, 0, 0.35);
    width: 800px;
    min-width: 800px;
    max-width: 800px;
}

.game-over {
	background-color: #eee;
	position: absolute;
	width: 25%;
    height: 80px;
	padding: 15px;
	margin: auto;
	top: 0;
    bottom: 0;
    right: 0;
	left: 0;
	border: 1px solid #000;
    z-index: 2;
}

#game-over-title {
	font-size: 12pt;
	margin-bottom: 10px;
	margin: auto;
	text-align: center;
	font-weight: bold;
    color: #000;
}

#game-over-retry,
#game-over-win {
	font-size: 10pt;
	margin: auto;
	text-align: center;
}

#game-over-retry a:hover,
#game-over-win a:hover {
	color: #f03c69;
}